[Unit]
Description=Bind-mount persistent /var/nix to /nix
DefaultDependencies=no
After=local-fs.target nix-directory.service
Requires=nix-directory.service
RequiresMountsFor=/var
Before=multi-user.target nix-daemon.service

[Mount]
What=/var/nix
Where=/nix
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
